@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*header*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo_searchbar_lupa{
    width: 100%;
    align-items: left;
    margin-left: 10%;
}

.lista_hipervinculo{
    align-items: left;
    width: 100%;
}

body { 
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
    margin: 0px;
    };
   
h2 { 
    font-size: 24px;
}

.precios {font-size: 18px;}

.descuentos {font-size: 16px;}

.descripciones {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    font-style: normal;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    text-align: left;

}

.cuerpo {font-size: 12px;}

.burger-menu { 
    color: white;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1259c3;;
    box-sizing: border-box;
    border-radius: 3px;
}



main { 
    background-color:#ebebeb;
    margin: 0px;
}
section {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
    width: 100%;
}

.articulos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
/*propiedades para aritculos en comun*/        
article {
    width: 90%;  
    margin-top: 5px;
    margin-bottom: 1px;
    text-align: center;
    box-sizing: border-box;
    max-width: 414px;
}

.Caja-articulo {
    position: relative;
    background-color: #ffffff;
    box-sizing: border-box;
}

.carrito_compras {
    color: rgb(0, 150, 0,.9) ;
    position: absolute;
    right: 0%;
    top: -20px;
    padding: 5px;
    border-width: 2px;
    border-color:  rgb(0, 150, 0,.9);
    border-style: solid;
    border-radius: 50%;
    box-sizing: border-box;
}

.precios{
    width: 30%; 
    box-sizing: border-box;
    text-align: left 10px;
}

.descuentos{
    width: 70%;
    box-sizing: border-box;
    text-align: left;
    color: rgb(0, 150, 0, .9);
    font-size: 1.2em;
    font-weight: 550;   
}

.precios_descuentos{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;   
}

footer {text-align: center;
    background-color: #ffffff;
    width: 100%;
    max-width: ;}


/*queries tablet*/

@media (max-width: 460px){
    .lista_hipervinculo{
        display: none;
    }
}

@media (min-width: 460px) and (max-width: 768px){
   .articulos {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-content: space-around;
    }
}

    .lista_hipervinculo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .lista_hipervinculo > *{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

/*queries tablet*/
@media (min-width: 768px){
    .articulos {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
        justify-content: space-around;
    }
}
