@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body { 
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
}

h2 { font-size: 24px;}

.precios {font-size: 18px;}

.descuentos {font-size: 16px;}

.descripciones {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    font-style: normal;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    text-align: left;

}

.cuerpo {font-size: 12px;}

.burger-menu { 
    color: white;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1259c3;;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: 50%;
}

footer {text-align: center;}

main { 
    width: 90vw;
    background-color:#ebebeb;
}

section {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
        
article {
    width: 90%;  
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    text-align: center;
    box-sizing: border-box;
}

.Caja-articulo {
    position: relative;
    background-color: #ffffff;
    box-sizing: border-box;
}

.carrito_compras {
    color: rgb(0, 150, 0,.9) ;
    position: absolute;
    right: 0%;
    top: -20px;
    padding: 5px;
    border-width: 2px;
    border-color:  rgb(0, 150, 0,.9);
    border-style: solid;
    border-radius: 50%;
    box-sizing: border-box;
}

.precios{
    width: 30%; 
    box-sizing: border-box;
    text-align: left 10px;
}

.descuentos{
    width: 70%;
    box-sizing: border-box;
    text-align: left;
    color: rgb(0, 150, 0, .9);
    font-size: 1.2em;
    font-weight: 550;   
}

.precios_descuentos{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;   
}
